* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}


/* I made the header a flex display because it was the easiest way for me to properly control the positioning of the header items. It allowed me to justify them with space between them as well as center them in the middle of the header box. In addition because the blue area to display things became smaller due to the flex using only the required space, I added a padding in order to give it the flexibility to have more space. */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
    padding: 20px;
}

.header h1 .seo {
    color: #d9dcd6;
}


.header h1 {
    display: inline-block;
    font-size: 48px;
    color: #d6d7dc;
    height:auto;
}

.header nav {
    margin-left: 737px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    list-style-type: none;
}

/* added a margin left fit the nav items the way that I want it. Without it, the items are more centerd to the screen but I wanted them near the very right of the header container box.*/
.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* created a content all that combines all of the search engine, social media, and online reputation section styles into one class. */
.content-all {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
    font-size: 36px;
}

/* created one content-all directed towards the images in order to address the images and put a height on them so they don't take up the entire display screen and stay within their blue box.  */
.content-all > img {
    max-height: 200px;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* combined all of the classes for the aside bar where it will change how each of the aside logo and writing is displayed. By setting it as one benefits-all, we can use one class to identify this area of code in the index.html instead of having 3 different classes to do the same thing */
.benefits-all {
    margin-bottom: 32px;
    color: #ffffff;
}

/* This addresses the images specifically found after using the class benefits-all. In this situation, it finds the search engine optimization and the other two and tell it to display the images as a block element. */
.benefits-all > img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* This section is only supposed to affect the h3 in the benefits all section. So I used the > h3 to direct it at the next available h3 that comes up after the class if specified. */
.benefits-all > h3 {
    margin-bottom:10px;
    text-align: center;
}

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h4 {
    font-size: 20px;
}
